@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-image: radial-gradient(circle, #051937, #091c33, #0f1e2f, #15202b, #1b2127);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  overflow: hidden;
  transition: background-image 0.5s ease-in-out;
}

.heading{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding-bottom: 12px;
}
span{
  text-shadow: 0 0 10px #1DA1F2,
               0 0 10px #1DA1F2,
               0 0 10px #1DA1F2;
}
.box-container {
  width: 500px;
  margin: 10px auto;
  padding: 24px;
  font-size: 22px;
  background: rgba(255, 255, 255, 0.192);
  text-align: center;
  border-radius: 10px;
  backdrop-filter: blur(10px) brightness(200%);
  border: 1px solid rgba(43, 43, 43, 0.568);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.text p {
  margin: 0.5em 0;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: textAnimation 3s infinite alternate;
}

@keyframes textAnimation {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.02);
    opacity: 1;
  }
}

.author h5 {
  font-family: 'Dancing Script', cursive;
  margin: 1em 0;
  color: #C4A69D;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 0 8px #C4A69D,
                0 0 8px #C4A69D;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
  transition: opacity 0.3s ease-in-out;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  color: #fff;
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  filter: brightness(100%);
  outline: none;
  padding: 0 1.8rem;
  border-radius: 5px;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
  filter: brightness(110%);
}

button:focus {
  filter: brightness(120%);
}

button:active {
  transform: scale(0.95);
}
footer{
  margin:50px;
}
footer > a{
  text-decoration: none;
  font-size: 1rem;
  color: bisque;
  padding-left: 35%;
  transition: all .5s ease-out;
}